# Regular dependencies
dask[array,distributed]
jinja2
netCDF4>1.6
numpy
pynmea2
pytz
scipy
xarray
pandas
zarr
fsspec
s3fs
requests
aiohttp
xarray-datatree==0.0.6
psutil>=5.9.1
more-itertools==8.13.0
geopy
pydantic>2
echopype

# Development dependencies
black
check-manifest
codespell
flake8
flake8-builtins
flake8-comprehensions
flake8-mutable
flake8-print
isort
mypy
numpydoc
pre-commit
pylint
pytest
pytest-cov
pytest-flake8
pytest-xdist
setuptools_scm
sphinx
sphinx-automodapi
sphinx_rtd_theme
sphinxcontrib-mermaid
twine
wheel
git+https://github.com/OceanStreamIO/echopype.git@next-dev
