black==23.7.0
check-manifest
codespell==2.2.5
docker-compose # Not available in py3.10
flake8==6.1.0
flake8-builtins
flake8-comprehensions
flake8-mutable
flake8-print
isort==5.12.0
mypy
numpydoc
pre-commit
pylint
pytest
pytest-cov
pytest-flake8
pytest-xdist
setuptools_scm
sphinx
sphinx-automodapi
sphinx_rtd_theme
sphinxcontrib-mermaid
twine
wheel
